.annotation
	padding 0 1em 0 2em

	h4
		color #999
		font-size 0.8em
		letter-spacing 1px
		margin-bottom 0.4em
		text-transform uppercase

	.body
		border-radius 3px
		well()

		ul
			list-style none

			li.field.selected-text
				.value
					display flex
					span.left-double-quote, span.right-double-quote
						font-size 2em
						flex 1

					span.right-double-quote
						align-self flex-end
						margin-bottom -0.7em
						text-align right

					//span.left-double-quote, span.right-double-quote, span.text
					//	inline-block()

					span.text
						flex 10

	footer
		margin-top 3em

		.cancel, .save
			cursor pointer
			line-height 2em
			inline-block()
			text-align center

		.cancel
			color gray
			width 100%

			&:hover
				color black

		.save
			border-radius 3px
			border 1px solid #CCC
			width 50%

			&:hover
				background-color #FAFAFA
				border-color #AAA
				color black

.annotation.new footer .cancel
	width 50%
