.record
	height 100%
	overflow-x hidden
	white-space nowrap
	width 100%

	aside, .letter
		inline-block()
		white-space normal

	.letter
		font-size 1.4em
		height 100%
		line-height 1.8em
		padding 0 1em
		max-width 640px
		overflow-y auto
		width calc(100% - 360px)

		.text
			p
				margin 0 0 1em 0

			span.highlight
				background-color rgba(yellow, 0.3)
				border-top 1px solid rgba(#CCC, 1)
				border-bottom 1px solid rgba(#CCC, 1)
				color black

	&.persons, &.places, &.dates
		persName, placeName, date
			cursor pointer
			padding 0 2px

			&:after
				background-size 16px 16px
				content ''
				display inline-block
				height 16px
				margin-left 4px
				width 16px

	&.persons
		persName
			border-bottom 1px solid #9C27B0

			&:after
				background-image url('/static/images/android-person.svg')
	&.places
		placeName
			border-bottom 1px solid #E91E63

			&:after
				background-image url('/static/images/android-globe.svg')

	&.dates
		date
			border-bottom 1px solid #2196F3

			&:after
				background-image url('/static/images/android-calendar.svg')

//@media (max-width 1200px)
	//.record

	//.record.create-annotation
	//	aside
	//		margin-left calc(-1 * (49% - 320px))
	//
	//	.new-annotation
	//		width calc(100% - 640px)
