.record
	asideWidth = calc(50% - 320px)
	height 100%
	overflow hidden
	white-space nowrap
	width 100%

	aside, .letter, .new-annotation
		inline-block()
		white-space normal

	aside
		position relative
		transition all 300ms
		width asideWidth

		.meta
			max-width 320px
			position absolute
			right 0

	.letter
		font-size 1.4em
		line-height 1.5em
		width 640px

		.text
			p
				margin 0 0 1em 0

			span.highlight
				background-color rgba(yellow, 0.3)
				border-top 1px solid rgba(#CCC, 1)
				border-bottom 1px solid rgba(#CCC, 1)
				color black

	.new-annotation
		margin-left asideWidth
		max-width 480px
		transition all 300ms
		width asideWidth

	&.create-annotation
		//aside
		//	margin-left calc(-1 * (50% - 320px))

		.new-annotation
			margin-left 0

	&.persons, &.places, &.dates
		persName, placeName, date
			cursor pointer
			padding 0 2px

			&:after
				background-size 16px 16px
				content ''
				display inline-block
				height 16px
				margin-left 4px
				width 16px

	&.persons
		persName
			border-bottom 1px solid #9C27B0

			&:after
				background-image url('/static/images/android-person.svg')
	&.places
		placeName
			border-bottom 1px solid #E91E63

			&:after
				background-image url('/static/images/android-globe.svg')

	&.dates
		date
			border-bottom 1px solid #2196F3

			&:after
				background-image url('/static/images/android-calendar.svg')

