.record
	height 100%
	overflow-x hidden
	white-space nowrap
	width 100%

	aside, article.letter
		inline-block()
		white-space normal



//@media (max-width 1200px)
	//.record

	//.record.create-annotation
	//	aside
	//		margin-left calc(-1 * (49% - 320px))
	//
	//	.new-annotation
	//		width calc(100% - 640px)
