.similar-letters
	background-color #EEE
	border-radius 0.5em
	font-size 0.8em
	margin 4em 0 8em 0
	padding 2em

	h4
		margin-bottom 1em

	ul
		list-style none

		li
			border-bottom 1px solid rgba(0, 0, 0, 0)
			cursor pointer
			margin-bottom 0.5em

			&:hover
				border-bottom 1px solid ep_blue

			a
				color ep_blue

			.date, .name
				inline-block()

			.date
				width 140px