@import 'functions.styl'
@import 'default.styl'

@font-face {
	font-family Orkney
	src url("/static/fonts/Orkney-Light.otf") format("opentype")
}

html
	color #444
	font-family Orkney

#container
	height 100%
	width 100%

body
	background-color #FAFAFA

@import '../components/**/*'
